Pad/Service References/ManagerService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Manager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Manager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMachineConfigModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MachineConfigModel" nillable="true" type="tns:MachineConfigModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachineConfigModel" nillable="true" type="tns:ArrayOfMachineConfigModel" />
  <xs:complexType name="MachineConfigModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeciveID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceEndPointAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MachineConfigModel" nillable="true" type="tns:MachineConfigModel" />
</xs:schema>