Pad/Service References/ManagerService/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Manager/WCFService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Manager/WCFService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Manager/WCFService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Manager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetAllMachineConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMachineConfig" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetAllMachineConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMachineConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetMettingMachineConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMettingMachineConfig" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetMettingMachineConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMettingMachineConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/DoWork" message="tns:IWCFService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/DoWorkResponse" message="tns:IWCFService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMachineConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetAllMachineConfig" message="tns:IWCFService_GetAllMachineConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetAllMachineConfigResponse" message="tns:IWCFService_GetAllMachineConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMettingMachineConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetMettingMachineConfig" message="tns:IWCFService_GetMettingMachineConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetMettingMachineConfigResponse" message="tns:IWCFService_GetMettingMachineConfig_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFService" type="tns:IWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IWCFService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMachineConfig">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetAllMachineConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMettingMachineConfig">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetMettingMachineConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="BasicHttpBinding_IWCFService" binding="tns:BasicHttpBinding_IWCFService">
      <soap:address location="http://localhost:8733/Manager/WCFService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>