Pad/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SetLayout_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLayout" />
  </wsdl:message>
  <wsdl:message name="IService1_SetLayout_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLayoutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddContentToScreen_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContentToScreen" />
  </wsdl:message>
  <wsdl:message name="IService1_AddContentToScreen_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContentToScreenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectWindow_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWindow" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectWindow_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWindowResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateWindowInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWindowInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateWindowInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWindowInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCurrentWindowInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentWindowInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCurrentWindowInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentWindowInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Go_InputMessage">
    <wsdl:part name="parameters" element="tns:Go" />
  </wsdl:message>
  <wsdl:message name="IService1_Go_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Back_InputMessage">
    <wsdl:part name="parameters" element="tns:Back" />
  </wsdl:message>
  <wsdl:message name="IService1_Back_OutputMessage">
    <wsdl:part name="parameters" element="tns:BackResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetWindowSize_InputMessage">
    <wsdl:part name="parameters" element="tns:SetWindowSize" />
  </wsdl:message>
  <wsdl:message name="IService1_SetWindowSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetWindowSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ResetWindowSize_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetWindowSize" />
  </wsdl:message>
  <wsdl:message name="IService1_ResetWindowSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetWindowSizeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SetLayout">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetLayout" message="tns:IService1_SetLayout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetLayoutResponse" message="tns:IService1_SetLayout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContentToScreen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddContentToScreen" message="tns:IService1_AddContentToScreen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddContentToScreenResponse" message="tns:IService1_AddContentToScreen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWindow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectWindow" message="tns:IService1_SelectWindow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectWindowResponse" message="tns:IService1_SelectWindow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWindowInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateWindowInfo" message="tns:IService1_UpdateWindowInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateWindowInfoResponse" message="tns:IService1_UpdateWindowInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWindowInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCurrentWindowInfo" message="tns:IService1_GetCurrentWindowInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCurrentWindowInfoResponse" message="tns:IService1_GetCurrentWindowInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Go">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Go" message="tns:IService1_Go_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GoResponse" message="tns:IService1_Go_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Back">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Back" message="tns:IService1_Back_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BackResponse" message="tns:IService1_Back_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetWindowSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetWindowSize" message="tns:IService1_SetWindowSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetWindowSizeResponse" message="tns:IService1_SetWindowSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetWindowSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ResetWindowSize" message="tns:IService1_ResetWindowSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ResetWindowSizeResponse" message="tns:IService1_ResetWindowSize_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetLayout">
      <soap:operation soapAction="http://tempuri.org/IService1/SetLayout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContentToScreen">
      <soap:operation soapAction="http://tempuri.org/IService1/AddContentToScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectWindow">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectWindow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWindowInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateWindowInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWindowInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCurrentWindowInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Go">
      <soap:operation soapAction="http://tempuri.org/IService1/Go" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Back">
      <soap:operation soapAction="http://tempuri.org/IService1/Back" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetWindowSize">
      <soap:operation soapAction="http://tempuri.org/IService1/SetWindowSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetWindowSize">
      <soap:operation soapAction="http://tempuri.org/IService1/ResetWindowSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>